@charset "utf-8";

@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-Thin.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 200;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-ExtraLight.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-Light.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-Regular.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-Medium.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-SemiBold.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-Bold.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 800;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-ExtraBold.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    font-style: normal;
    src: url('../../fonts/NotoSansKR-Black.woff') format(woff);
}